# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
env/

# VSCode
.vscode/

# Local data and outputs
/data/downloads/*.csv
/downloads/*.csv
*.xlsx
*.db
*.db-shm
*.db-wal


# System files
.DS_Store
Thumbs.db
